Source: haskell-mode
Section: devel
Priority: optional
Maintainer: Antti-Juhani Kaijanaho <ajk@debian.org>
Standards-Version: 3.5.6

Package: haskell-mode
Architecture: all
Depends: emacs20 | xemacs21 | emacsen, debconf
Suggests: hugs, ghc5
Description: A major mode for editing Haskell in Emacs
 A major mode for editing Haskell (the functional
 programming language) in Emacs.
 .
 Major features:
  -Font Locking: Colours keywords, comments, strings, etc. 
  -Declaration Scanning: Scans declarations and places them in a
   menu. 
  -Documentation: Echoes types of functions or syntax of keywords
   when the cursor is idle. 
  -Indentation: Provides semi-automatic intelligent indentation. 
  -Simple Indentation: Provides simple indentation. 
  -Hugs Interaction: Allows interaction with the Hugs interpreter.
