Source: haskell-mode
Section: haskell
Priority: optional
Maintainer:  Petr Rockai <mornfall@debian.org>
Uploaders: Isaac Jones <ijones@debian.org>, David Bremner <bremner@debian.org>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.8.3

Package: haskell-mode
Architecture: all
Depends: emacs22 | xemacs22 | emacsen, ${misc:Depends}
Recommends: ghc6 | hugs
Description: A major mode for editing Haskell in Emacs
 A major mode for editing Haskell (the functional
 programming language) in Emacs.
 .
 Major features:
  - syntax highlighting (font lock),
  - automatic indentation,
  - on-the-fly documentation,
  - interaction with inferior ghci or hugs instance,
  - scans declarations and places them in a menu.
