#!/usr/bin/make -f

%:
	dh $@ --parallel

version=$(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.-]+)$$/\1/p')

override_dh_auto_build:
	dh_auto_build -- VERSION=$(version) GIT_VERSION=0000000 haskell-mode-autoloads.el haskell-mode.info

override_dh_auto_install:
